<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Ritvi's Garden</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Ritvi's Garden</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/seedInstc}">Seed Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/seedInstc}">Teacher Management</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <h1> List Seeds </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/seedInstc/new}" class = "btn btn-primary btn-sm mb-3"> Add Seed</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Seed First Name</th>
            <th> Seed pic</th>
            <th> Seed date</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "seed: ${seedInstc}">
            <td th:text = "${seed.seedName}"></td>
            <td th:text = "${seed.pic}"></td>
            <td th:date = "${seed.date}"></td>
            <td>
                <a th:href = "@{/seedInstc/edit/{seedName}(seedName=${seed.seedName})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/seedInstc/{seedName}(seedName=${seed.seedName})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>